@font-face {
  font-family: 'Berserker-Regular';
  src: url('../src/fonts/Berserker-Regular.otf') format('OpenType');

}

@font-face {
  font-family: 'Open sans';
  src: url('../src/fonts/OpenSans-Bold.ttf') format('OpenType');

}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body {

  margin: 0px;
  padding: 0px;

}




:root {
  --font-nordica: 'Berserker-Regular';
  --titulos: 36px;
  --subtitulos: 24px;
  --paragrafos: 16px;


  --Preto: #000000;
  --Cinza-escuro: #1f1f1f;
  --Cinza-médio: #2B2B2B;
  --Cinza-claro: #3A3A3A;
  --Azul-titulo: #066ff0;

}


header {

  background-color: var(--Preto);
}

.navbar-custom {
  background-color: #000 !important;
  color: #fff;
}


.nav-link {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-family: var(--font-nordica);
  margin: 15px !important;
}


.nav-link:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 100%;
  background-color: #fff;
  height: 2px;
  transition: right 0.2s ease-out;
}

.nav-link:hover:before {
  right: 0px;
}

/* home */
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fist-section {
  margin-top: 100px;
  margin: 0px;
  padding-top: 200px;
  width: 100%;
  background-image: url('../src/img/bg-hero.jpg');
}
.second-section{
  background-image: url("../src/img/bg-story.png");
}
.third-section{
  background: url("../src/img/section5a-carousel-background.webp") ;

}

.fist-section, .second-section , .third-section{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

article h1 {
  font-size: 124px;
  letter-spacing: 1pt;
  font-family: 'Berserker-Regular';
  font-weight: 700;
  color: #f0f0f0;
  margin-top: 50px;
}
.thumbnail{
  padding-top: 25px;
}
.faixa-etaria{
  padding-top: 50px;
}
.info-geral{
  height: auto;
  background-color: #000 !important;
  padding: 30px 0px;
}
.info{
 
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 12px;
 flex-direction: column;
 margin: 10px 0px;
}

.studio-img{
  margin-top: 10px;
  max-width:130px;
  max-height:60px;
}
/* Cor do thumb (parte móvel da barra de rolagem) */
::-webkit-scrollbar-thumb {
  background-color: #066ff0;
}

/* Cor do track (parte fixa da barra de rolagem) */
::-webkit-scrollbar-track {
  background-color: #eaeaea;
}
